<!DOCTYPE html>
<html>
  <head>
    <title>KubeManager</title>
    <meta charset="utf-8"/>
    <meta content="user-scalable=1,initial-scale=1,minimum-scale=1" name="viewport"/>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet"/>-->
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-md-offset-5">
          <form action="/getdocker" method="post">
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-default" name="kubegetcommand" value="d0">GetImages</button>
              <button type="submit" class="btn btn-default" name="kubegetcommand" value="d1">GetContainers</button>
            </div>
          </form>  
        </div>

        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading text-center">{{ .content }}</div>

            <!-- Table -->
            <div class="table-responsive">
              <table id="result" class="table table-condensed table-bordered table-hover"></table>
            </div>
            
          </div>
        </div>

      </div>
      
      

      <div class="row">
        
      </div>

    </div>


    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function display(id, contentList) {
        var table = ""
        if (contentList != null) {
          if (contentList.length >= 7) {
            table += "<tr><td>CONTAINER ID</td><td>IMAGE</td><td>COMMAND</td><td>CREATED</td><td>STATUS</td><td>PORTS</td><td>NAMES</td></tr>"
            var i = 7;
            while (i < contentList.length) {
              table += "<tr>";
              //          id                          image                    command
              table += "<td>" + contentList[i] + "</td><td>" + contentList[i + 1] + "</td><td>" + contentList[i + 2]
                //created time                 //staus
                + "</td><td>" + contentList[i + 3] + "</td><td>" + contentList[i + 4] + "</td>";
              i += 5;
              //is ports exist?
              var pattern = /^[a-zA-Z0-9]{12}$/;
              if (pattern.test(contentList[i])) {
                table += "<td>" + contentList[i] + "</td>";
                ++i;
              }
              else {
                table += "<td> </td>";
              }
              table += "<td>" + contentList[i] + "</tr>";
              ++i;
            }

          }
        }
        else {
         
        }
        $("#result").append(table);
      }
      var containiersList = {{ .containiersList }}
      display("#containiersList", containiersList)

      var contentList = {{ .contentList }}
      var table = ""
      if (contentList != null) {
        if (contentList.length >= 5) {
          table += "<tr><td>REPOSITORY</td><td>TAG</td><td>IMAGE ID</td><td>CREATED</td><td>SIZE</td></tr>"
          contentList = contentList.slice(5)
          table += "<tr><td>" + contentList[0]
          for (var i = 1; i < contentList.length; ++i) {
            if (i % 5 == 0) {
              table += "</tr><tr>";
              table += "<td>"+contentList[i]+"</td>";
            }
            else if (i % 5 % 1 == 0) table += "<td>"+contentList[i];
            else if (i % 5 % 2 == 0) table += " "+contentList[i];
            else if (i % 5 % 3 == 0) table += " "+contentList[i]+"</td>";
            else table += "<td>"+contentList[i]+"</td>"
          }
          table += "</tr>"
        }
        else {
          table += "<tr><td>"
          for (var i = 0; i < contentList.length; ++i) {
            table += contentList[i] + " "
          }
          table += "</td></tr>"
        }
      }
      
      $("#result").append(table);
    </script>
  </body>
</html>
